# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment
.env
.env.local
.env.*.local
*.local

# Expo
.expo/
dist/
web-build/
*.orig.*
.expo-shared/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Build output
build/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.swp

# Supabase
supabase/.branches/
supabase/.temp/
